# Configuracion del Servidor
PORT=3000

# Configuracion de la Base de Datos (PostgreSQL dentro de docker-compose)
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=mpp_db

# Configuracion de JWT (JSON Web Token)
JWT_SECRET=super_secret_key_random_string
JWT_EXPIRES_IN=1d
